<h1><%= t('.title') %></h1>

<%= render 'form' %>

<%= link_with_icon @post, 'arrow-left', title: t('.back_to_post') %> |
<td><%= link_with_icon @comment, 'trash-o', title: t('common.destroy'), method: :delete, data: { confirm: t('common.are_you_sure') } %></td>
